################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DONTUPLOADME.txt
obj/
bin/Debug/
test/
Config.txt
