################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DONTUPLOADME.txt
obj/
bin/Debug/
test/
Config.txt
.vs/ProjectEvaluation/
.vs/RiftRumbleStats/CopilotIndices/17.14.995.13737/CodeChunks.db
.vs/RiftRumbleStats/CopilotIndices/17.14.995.13737/CodeChunks.db-shm
.vs/RiftRumbleStats/CopilotIndices/17.14.995.13737/CodeChunks.db-wal
.vs/RiftRumbleStats/CopilotIndices/17.14.995.13737/SemanticSymbols.db
.vs/RiftRumbleStats/CopilotIndices/17.14.995.13737/SemanticSymbols.db-shm
.vs/RiftRumbleStats/CopilotIndices/17.14.995.13737/SemanticSymbols.db-wal
*.vsidx
.vs/RiftRumbleStats/v16/.suo
.vs/RiftRumbleStats/DesignTimeBuild/.dtbcache.v2
.vs/RiftRumbleStats/v17/.futdcache.v2
.vs/RiftRumbleStats/v17/.suo
.vs/RiftRumbleStats/v17/DocumentLayout.backup.json
.vs/RiftRumbleStats/v17/DocumentLayout.json
Properties/Settings.Designer.cs
Properties/Settings.settings
